.celeste__whatCeleste {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% 57%, rgba(18, 36, 86, 1) 38%, rgba(51, 75, 114, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% 57%, rgba(18, 36, 86, 1) 38%, rgba(51, 75, 114, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% 57%, rgba(18, 36, 86, 1) 38%, rgba(51, 75, 114, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% 57%, rgba(18, 36, 86, 1) 38%, rgba(51, 75, 114, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% 57%, rgba(18, 36, 86, 1) 38%, rgba(51, 75, 114, 1) 100%);

    filter: drop-shadow(0px 4px 4px black);
}

.celeste__whatCeleste-feature {
    display: flex;
}

.celeste__whatCeleste-feature .celeste__features-container__feature {
    margin: 0;
}

.celeste__whatCeleste-feature .celeste__features-container__feature-text {
    max-width: 700px;
}

.celeste__whatCeleste-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}

.celeste__whatCeleste-heading h1 {
    font-family: var(--font-family);
    font-size: 35px;
    line-height: 45px;
}

.celeste__whatCeleste-heading p {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 25px;
    color: var(--color-subtext);
    cursor: pointer;
}

.celeste__features-container {
    display: flex;
    flex-direction: row;

    margin-top: 2rem;
}

.celeste__whatCeleste-container .celeste__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.celeste__whatCeleste-container .celeste__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .celeste__whatCeleste-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .celeste__whatCeleste-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .celeste__whatCeleste-feature .celeste__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .celeste__whatCeleste-feature .celeste__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .celeste__whatCeleste-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .celeste__whatCeleste-container .celeste__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}